.sm-button {
  border-radius: 40px;
  background: #ffaa13;
  @include flexCenter;
  height: 47px;
  padding: 0 15px;

  button {
    @include flexCenter;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-color: transparent;
    //padding: 1rem 2rem;
    font-weight: bold;
    font-size: 16px;
  }

  &__light {
    background-color: #ffaa13;

    button {
      color: #000000;
    }
  }

  &__dark {
    background-color: #000000;
    border: 1px solid #ffaa13;

    button {
      color: #ffaa13;
    }
  }
}
