.money-input {
  @include flexCenter;
  width: 200px;

  &__first {
    font-size: 30px;
  }

  &__last {
    font-size: 20px;
  }

  label {
    padding-right: 10px;
    font-size: 35px;
  }

  input {
    width: 0;
    border: none;
    outline: none;
    background: none;
    font-size: 30px;
  }
}
