@import "assets/scss/_mixins.scss";
@import "assets/scss/_utils.scss";
@import "components/_components.styles.scss";
@import "screens/_screens.styles.scss";
@import "pages/_pages.styles.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
